.container {
  position: absolute;
  left: 20%;
  .navbarWrapper {
    display: flex;
    .navbar {
      display: flex;
      .item_link {
        color: #004890;
        display: block;
        height: 32px;
        line-height: 32px;
        padding: 0 15px;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 13px;
        float: left;
        margin: 0;
        text-decoration: none;
      }
    }
    .userInfo {
      display: flex;
      padding-left: 30px;
      margin-left: 15px;
      height: 32px;
      line-height: 32px;
      border-left: #dcdcdc solid 1px;
      .userName {
        padding-left: 10px;
        color: #004890;
        text-decoration: none !important;
      }
    }
    .socialPage {
      margin-left: 15px;
      padding-left: 25px;
      float: right;
      border-left: #dcdcdc solid 1px;
      a {
        color: #777;
        height: 32px;
        line-height: 32px;
        width: 32px;
        min-width: 32px;
        padding: 0;
        margin: 0;
      }
      .socialBtn {
        background-position: 50% -32px;
        background-image: url("https://www.econsulat.ro/Content/new-ui/dist/assets/images/social-sprite.png");
        background-repeat: no-repeat;
        height: 32px;
        width: 32px;
        display: block;
        float: left;
        margin: 0 10px 0 0;
        border-radius: 4px;
      }
    }
  }

  .searchService {
    display: flex;
    margin-top: 20px;
    width: 80%;
    justify-content: space-around;
    h2 {
      font-weight: 400;
      color: #004890;
      text-transform: uppercase;
      position: relative;
      margin: 0;
      font-size: 21px;
      height: 50px;
      line-height: 50px;
    }
    .searchBox {
      position: relative;
      .searchIcon {
        line-height: 50px;
        position: absolute;
        left: 5%;
        top: 30%;
        text-align: center;
        opacity: 0.8;
        filter: alpha(opacity=80);
        font-size: 21px;
        z-index: 33;
        color: #004890;
      }
      input {
        width: 120%;
        padding-left: 50px;
        height: 50px;
        font-size: 19px;
        border-color: #004890;
      }
    }
    input {
    }
  }
  .serviceContainer {
    position: absolute;
    left: 0;

    .services {
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .servicesItem {
        background: #f4f4f4;
        width: 33%;
        display: block;
        padding: 0;
        border: 1px solid #ccc;
        position: relative;
        border-radius: 10px;
        margin: 10px 20px 20px;
        height: 154px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

        &:hover {
          cursor: pointer;
          background-color: #67cbe8;
          .servicesContent,
          .servicesLabel,
          .serviceIcon {
            color: #ffffff;
          }
        }

        .servicesLabel {
          color: #004890;
          display: block;
          font-weight: 400;
          position: absolute;
          left: 15px;
          top: 18px;
          white-space: nowrap;
        }

        .servicesContent {
          margin: 50px 0 20px;
          padding: 0 10px;
          font-size: 15px;
          line-height: 1.6em;
          text-align: center;
          color: #737373;
        }

        .serviceIcon {
          color: #004890;
          width: 35px;
          line-height: 54px;
          height: 30px;
          position: absolute;
          right: 10px;
          top: 12px;
          font-size: 30px;
          text-align: center;
        }
      }
    }
  }
}

.condition {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.buttonContainer {
  left: 38%;
  position: absolute;
}
.delogareButton {
  border: none;
  background-color: #222222;
  width: 80px;
  height: 32px;
  color: white;
  &:hover {
    cursor: pointer;
  }
}
.applyButton {
  background-color: #e7e7e7;
  color: #004890;
  border: none;
  width: 200px;
  height: 80px;
  font-size: 15px;
  font-weight: 600;
  &:hover {
    background-color: #12b1de;
    cursor: pointer;
    color: white;
  }
}
.decisionContainer {
  margin: 50px 0;
  display: flex;
}
.passportButton {
  color: #004890;
  border: none;
  width: 200px;
  height: 60px;
  background-color: #d3d3d3;
  font-size: 16px;
  font-weight: 600;
  &:hover {
    cursor: pointer;
    background-color: #0ca9d5;
    color: white;
  }
}

.modal {
  font-family: arial;
}

.modal {
  position: fixed;
  width: 600px;
  z-index: 1040;
  top: 30%;
  left: 30%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.backdrop {
  position: fixed;
  z-index: 1040;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
}

.modalTitle {
  font-weight: 500;
  font-size: 1.5rem;
}

.modalHeader {
  display: flex;
  align-content: center;
  justify-content: center;
}

.modalDesc,
.modalHeader,
.modalFooter {
  padding: 12px;
}
.modalDesc {
  display: flex;
  justify-content: center;
  border-top: 1px solid #e9ecef;
}
.modalFooter {
  display: flex;
  justify-content: center;
}
.closeButton {
  position: absolute;
  right: 5%;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  border: none;
  background-color: white;
  opacity: 0.7;
  cursor: pointer;
}
.button {
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 12px;
  border-radius: 5px;
  border: none;
}

.modalFooter {
  border-top: 1px solid #e9ecef;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.secondaryButton {
  color: #fff;
  background-color: #6c757d;
  height: 30px;
  &:hover {
    cursor: pointer;
  }
}
.primaryButton {
  color: #fff;
  height: 30px;
  width: fit-content;
  background-color: #007bff;
  border: #007bff;
  &:hover {
    cursor: pointer;
  }
}

.modalExample {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
